[user]
    name = Gabriel Moreira
    email = gabrielmscampos@gmail.com
    signingKey = 81E700A410250436
[includeIf "gitdir:~/Cern/gitlab/"]
    path = ~/.gitconfig-cern-gitlab
[commit]
    gpgsign = true
[tag]
    gpgsign = true

